/* ----------------------------------------------- */
/*   BASIC SETUP   */
/* ----------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, 
body {
	font-family: 'Fira Sans','Lato', 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	background-color: #d7d7d7;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}



/* ----------------------------------------------- */
/*   REUSABLE COMPONENTS   */
/* ----------------------------------------------- */
.row {
	margin: 0 auto; 
}

section {
	padding: 40px 0 40px 0;
}

.box {
	padding: 1%;
}



/* ----------------------------------------------- */
/*   FONTS  */
/* ----------------------------------------------- */
h1, 
h2,
h3 {
	font-family: 'Lato';
}

h1 {
	font-weight: 300;
	margin-top: 100px;
	color: #fff;
	font-size: 250%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	color: #014d6f;
	font-weight: 400;
	text-align: center;
	padding-bottom: 30px;
	font-size: 180%;
}

h3 {
	font-size: 100%;
	font-weight: 400;
}

p {
	font-family: 'Fira Sans';
	color: #000;
	font-weight: 300;
	font-size: 90%;
	line-height: 135%;
}

.smaller-p {
	font-size: 80%;
	color: #fff;
}



/* ----------------------------------------------- */
/*   LINKS   */
/* ----------------------------------------------- */
a {
 	font-family: 'Montserrat';
 	font-weight: 300;
}

a:link, 
a:visited {
 	color: #379bcc;
 	text-decoration: none;
 	padding-bottom: 2px;
 }

a:hover,
a:active {
	color: #ff5451;
	cursor: pointer;
 	transition: color 0.2s;
}



/* ----------------------------------------------- */
/*   ICONS   */
/* ----------------------------------------------- */
.icon-small {
	font-size: 20px;
	color: #ff5451;
	vertical-align: middle;
	margin-top: -15px;
	letter-spacing: -2px;
}



/* ----------------------------------------------- */
/*   LEFT SIDEBAR + SITE CONTENT  */
/* ----------------------------------------------- */
.left-panel {
	height: 100vh;
	width: 22%;
	margin-top: 0;
	background-color: #001b30;
	position: fixed;
	/*display: none;*/
}

.site-content {
	width: 78.1%;
	margin: 0;
	padding: 0;
	float: right;
}



/* ----------------------------------------------- */
/*   NAV BAR   */
/* ----------------------------------------------- */
.my-photo {
	width: 68%;
	height: auto;
	margin-left: 16%;
	margin-top: 25%;
}

nav {
	text-align: right;
	padding-right: 30px;
}

nav li {
	list-style: none;
	line-height: 150%;
	padding: 20px 0;
}



/* ----------------------------------------------- */
/*   HEADER   */
/* ----------------------------------------------- */
header {
	height: 100vh;
	background-color: #014d6f;
	margin-top: 0;
	padding-top: 0;
	display: block;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/amanda-sandlin-10508.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 900px;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
}

.hero-text-box p { color: #fff }


/* ----------------------------------------------- */
/*   INFO-COL + LANG-COL   */
/* ----------------------------------------------- */
.section-basic-info {
	padding: 7% 8%;
}

.info-col {
	line-height: 135%;
}



/* ----------------------------------------------- */
/*   SECTION-CODE   */
/* ----------------------------------------------- */
.section-code {
	background-color: #ededed;
}

.about-my-coding { 
	padding: 10px 150px;
	line-height: 150%; 
}

.code-stat-row {
	padding: 2% 9%;
}

.code-lang-box {
	/*padding: 0 100px;*/
}

.code-goals-box { 
	list-style: none;
	/*padding: 0 60px;*/
}

.code-goals-box li { 
	padding: 10px;
	box-shadow: 1px 2px 2px #000;
	margin-bottom: 10px;
	background-color: #fff;
}



/* ----------------------------------------------- */
/*   SECTION-MY-EXP   */
/* ----------------------------------------------- */
.my-exp-box {
	width: 30%;
	background-color: #014d6f;
	color: #fff;
	padding: 2%;
	cursor: pointer;
	margin: 1% 1%;
}

.exp-row .span-1-of-3 {
	/*margin: 0;*/
}

.my-exp-box:first-of-type { margin-left: 3% }
.my-exp-box:last-of-type { margin-right: 1% }


/* ----------------------------------------------- */
/*   TEST ZONE   */
/* ----------------------------------------------- */
.test-color-1 {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #014d6f; 
	color: #fff;
}

.test-color-2 {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #379bcc; 
	color: #fff;
}

.test-color-3 {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #e2c029; 
	color: #fff;
}

.test-color-4 {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #001b30; 
	color: #fff;
}

.test-color-5 {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #ff5451; 
	color: #fff;
}

.footerr {
	margin-top: 400px;
	height: 150px;
	background-color: #a1aab1;
}

.fartt {
	height: 100px;
	background-color: #170b3d;
}








/*
li:first-of-type {}
li:last-of-type {}
*/

	/*
#003e53 My dark blue
#ff5451	Watermelon
#20cbd2 Aqua

#9bcd54 green

#170b3d self pick blue

#fe4d53 Bright Coral
	*/
