/* ----------------------------------------------- */
/*   BASIC SETUP   */
/* ----------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, 
body {
	background-color: #f7f7f7;
	/*color: #555;*/
	font-family: 'Raleway','Lato', 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

p {
	font-weight: 400;
	font-size: 110%;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}



/* ----------------------------------------------- */
/*   REUSABLE COMPONENTS   */
/* ----------------------------------------------- */
.row {
	max-width: 1150px;
	margin: 0 auto; 
}

section {
	padding: 15px 0;
}

.box {
	padding: 1%;
}

.small-row {
	width: 100%;
	margin: 0 auto;
}


/* ----------------------------------------------- */
/*   HEADINGS   */
/* ----------------------------------------------- */
h1 {
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 135px;
	margin-bottom: 20px;
	color: #003e53;
	font-size: 250%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-weight: 400;
	text-align: center;
	padding-bottom: 30px;
	font-size: 150%;
}

h3 {
	font-weight: 300;
}

/* ----------------------------------------------- */
/*   LINKS   */
/* ----------------------------------------------- */
a:link, 
a:visited {
 	color: #003e53;
 	text-decoration: none;
 	padding-bottom: 2px;
 	font-weight: 500;
 }

a:hover,
a:active {
	color: #00c4cc;
	 border-bottom: 1px solid #00c4cc; 
	cursor: pointer;
 	transition: color 0.2s,  border-bottom 0.6s ;
	/* a tags that has no href attribute, cursor will not become pointer */
}



/* ----------------------------------------------- */
/*   ICONS   */
/* ----------------------------------------------- */
.icon-small {
	/*font-size: 25px;*/
	color: #ff5451;
}



/* ----------------------------------------------- */
/*   HEADER   */
/* ----------------------------------------------- */
header {
	padding: 50px 0 20px 0;
}

.my-photo {
	height: 200px;
	width: auto;
	border-radius: 50%;
	float: right;
	margin-right: 20px;
}



/* ----------------------------------------------- */
/*   NAV BAR   */
/* ----------------------------------------------- */
nav {
	list-style: none;
	width: 80%; /* 80% of 1150 = 920 */
	margin-left: 10%;
	padding-bottom: 10px;
	margin-top: 20px;
	list-style: none;
	border-bottom: 2px solid #003e53;
}

nav li {
	font-weight: 400;
	display: inline-block;
	padding: 10px 30px;
}

nav li:first-child {
	margin-left: 40.56px;
}



/* ----------------------------------------------- */
/*   SECTION-INFO   */
/* ----------------------------------------------- */
.section-info {
	font-size: 90%;
	line-height: 145%;
	padding-top: 20px;
	margin-bottom: 0;
}

.row-80 { 
	width: 80%; 
	margin-left: 10%;
}

.info-col {
	/*border: 1px solid #000;*/
}

.label-col {
	display: block;
  float: left;
  padding-left: 40px;
  margin: 1% 0 1% 1.6%
}

.label-col:first-child { margin-left: 0; }

.lang-col {
	margin-left: 0;
	/*border: 1px solid #000;*/
}



/* ----------------------------------------------- */
/*   SECTION-CODE EXPERIENCE   */
/* ----------------------------------------------- */
.section-code-ex {
	margin-top: 0;
}

.code-ex-col {
	padding-left: 40px;
}





/*
li:first-of-type {}
li:last-of-type {}
*/

	/*
#fe4d53 Bright Coral
#ff5451	Watermelon
#00c4cc Aqua

	*/
