/* ----------------------------------------------- */
/*   BASIC SETUP   */
/* ----------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, 
body {
	font-family: 'Fira Sans','Lato', 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	background-color: #ededed;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}



/* ----------------------------------------------- */
/*   REUSABLE COMPONENTS   */
/* ----------------------------------------------- */
.row {
	margin: 0 auto; 
}

section {
	padding: 40px 0 40px 0;
}

.box {
	padding: 1%;
}

.hide-me {
	display: none;
}



/* ----------------------------------------------- */
/*   FONTS  */
/* ----------------------------------------------- */
h1, 
h2,
h3 {
	font-family: 'Lato';
}

h1 {
	font-weight: 300;
	margin-top: 100px;
	color: #fff;
	font-size: 250%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	color: #014d6f;
	font-weight: 400;
	text-align: center;
	padding-bottom: 30px;
	font-size: 180%;
}

h3 {
	font-size: 100%;
	font-weight: 400;
}

p {
	font-family: 'Fira Sans';
	color: #000;
	font-weight: 300;
	font-size: 90%;
	line-height: 135%;
}

.smaller-p {
	font-size: 80%;
	color: #fff;
}

.bold-text {
	text-weight: bold-text;
}



/* ----------------------------------------------- */
/*   LINKS   */
/* ----------------------------------------------- */
a {
 	font-family: 'Montserrat';
 	font-weight: 300;
}

a:link, 
a:visited {
 	color: #379bcc;
 	text-decoration: none;
 	padding-bottom: 2px;
 }

a:hover,
a:active,
.credits-to a:hover,
.credits-to a:active {
	color: #ff5451;
	cursor: pointer;
 	transition: color 0.2s;
}



/* ----------------------------------------------- */
/*   LEFT SIDEBAR + SITE CONTENT  */
/* ----------------------------------------------- */
.left-panel {
	height: 100vh;
	width: 22%;
	margin-top: 0;
	background-color: #001b30;
	position: fixed;
	overflow-x: hidden;
}

.site-content {
	width: 78%;
	margin: 0;
	padding: 0;
	float: right;
	overflow-x: hidden;
}



/* ----------------------------------------------- */
/*   NAV BAR   */
/* ----------------------------------------------- */
.my-photo {
	width: 68%;
	height: auto;
	margin-left: 16%;
	margin-top: 25%;
}

nav {
	text-align: right;
	padding-right: 30px;
}

nav li {
	list-style: none;
	line-height: 150%;
	padding: 20px 0;
}

.burger-i { display: none; }

.sticky {
	background-color: rgba(0, 27, 48, 0.93);
}



/* ----------------------------------------------- */
/*   HEADER   */
/* ----------------------------------------------- */
header {
	height: 100vh;
	background-color: #014d6f;
	margin-top: 0;
	padding-top: 0;
	display: block;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/amanda-sandlin-10508.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 900px;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
}

.hero-text-box p { color: #fff }



/* ----------------------------------------------- */
/*   INFO-COL + LANG-COL   */
/* ----------------------------------------------- */
.section-basic-info {
	padding: 7% 8%;
}

.info-col {
	line-height: 135%;
}



/* ----------------------------------------------- */
/*   SECTION-CODE   */
/* ----------------------------------------------- */
.section-code {
	background-color: #dadedf;
}

.about-my-coding { 
	padding: 10px 150px;
	line-height: 150%; 
}

.code-stat-row {
	padding: 2% 9%;
}

.code-goals-box { 
	list-style: none;
}

.code-goals-box li { 
	padding: 10px;
	box-shadow: 1px 2px 2px #000;
	margin-bottom: 10px;
	background-color: #fff;
}



/* ----------------------------------------------- */
/*   SECTION-MY-EXP   */
/* ----------------------------------------------- */
.my-exp {
	width: 30%;
	background-color: #014d6f;
	color: #fff;
	padding: 2%;
	cursor: pointer;
	margin: 1% 1%;
}

.my-exp:hover,
.my-exp:active {
	background-color: #001b30;
}

.expActive {
	background-color: #001b30;
}

.my-exp:first-of-type { margin-left: 3% }
.my-exp:last-of-type { margin-right: 1% }

.exp-info li {
	list-style: none;
}

.exp-info {
	width: 50%;
	margin-left: 25%;
	background-color: #fff; 
	padding: 1% 3%;
	box-shadow: 1px 2px 2px #000;
}

.exp-info .bold-text {
	font-weight: bold;
}



/* ----------------------------------------------- */
/*   SECTION-PROJECTS   */
/* ----------------------------------------------- */
.section-projects { 
	background-color: #dadedf;
	padding: 5%;  
}

.my-projects {
	width: 45%;
	height: 250px;
	margin: 3% 1%;
	display: inline-block;
	background-size: cover;
	/*width: 400px;*/
	border-radius: 5px;
}

.project-links {
	background-color: #000;
	width: 100%;
	height: 250px;
	border-radius: 5px;
	padding-top: 130px;
	padding-left: 55px;
	opacity: 0;
}

.project-links:hover {
	opacity: 0.85;
	visibility: 1;
	transition: opacity 0.2s linear, visibility 0.2s;
}

.project-links { transition: opacity 0.2s, visibility 0.2s }

.project-1 { background-image: url(../img/ss-omnifood.jpg) }
.project-2 { background-image: url(../img/ss-budgety.jpg) }
.project-3 { background-image: url(../img/ss-pig-game.jpg) }
.future-project { background-image: url(../img/more-projects.jpg) }
.project-2, .project-3 { background-position: center }

.project-name {
	color: #014d6f; 
	font-size: 200;
	text-align: center
}

.future-project p {
	font-family: 'Lato'; 
	color: #fff;
	font-size: 150%;
}

.btn {
	border: 1px solid #fff;
	padding: 5px 20px;
	margin-right: 15px;
	border-radius: 10px;
}

.btn:hover {
	background-color: #fff
}

.reminder { 
	margin-top: 40px;
	text-align: center;
	font-size: 120%; 
	line-height: 150%;
	color: #001B30 !important;
}



/* ----------------------------------------------- */
/*   SECTION-HIRE   */
/* ----------------------------------------------- */
.section-hire {
	background-color: #ededed;
}

.bonus {
	margin-bottom: 5%;
	width: 70%;
	margin-left: 15%;
}

.bonus li {
	list-style: none;
	padding: 1%;
}

.bonus p {
	font-weight: 400;
}

.final-notes {
	width: 80%;
	margin-left: 10%;
}

.pdf-resume {
	font-family: 'Fira Sans'
}



/* ----------------------------------------------- */
/*   FUN FACTS   */
/* ----------------------------------------------- */
.section-fun-facts { background-color: #dadedf }

.section-fun-facts h3 {
	text-align: center;
	color: #014d6f;
	font-size: 120%;
	padding-bottom: 20px;
}

.my-facts-list {
	width: 60%;
	margin-left: 20%;
	text-align: center;
}

.my-facts-list p {
	line-height: 150%;
}


/* ----------------------------------------------- */
/*   FOOTER   */
/* ----------------------------------------------- */
footer {
	background-color: #444;
	height: 250px;
}

footer a:link,
footer a:visited {
	text-decoration: none;
	transition: color 0.2s;
	color: #888;
}

.connect-with-me {
	margin-top: 30px;
	margin-bottom: 1%;
}

.connect-with-me h3 { 
	text-align: center; 
	color: #888;
	padding-bottom: 5px;
}

.connect-with-me li {
	list-style: none;
	display: inline-block;
	padding: 0.5% 2%;
}

.connect-with-me i { font-size: 180% }

.social-connect {
	margin-left: 39%;
}


.credit-p {	font-size: 70% }
.copyright { font-size: 65% }

.credit-p,
.copyright {
	color: #888;
	text-align: center;
}

.credits-to {
	width: 50%;
	margin-left: 25%;
}

.credits-to li {
	text-align: center;
	font-family: 'Montserrat';
	font-size: 80%;
	display: block;
	padding: 3px 0;
	color: #888;
}

.credits-to p { color: #888 }
.copyright { padding-top: 25px  }



/* ----------------------------------------------- */
/*   ICONS   */
/* ----------------------------------------------- */
.icon-small {
	font-size: 20px;
	color: #ff5451;
	vertical-align: middle;
	margin-top: -15px;
	letter-spacing: -2px;
}

.ion-close {
	text-align: right;
	display: block;
	cursor: pointer;
}

.ion-social-whatsapp,
.ion-email,
.ion-social-github,
.ion-social-facebook {
	transition: color 0.2s;
}

.ion-social-whatsapp:hover { color: #4dc247 }
.ion-email:hover { color: #007bb5 }
.ion-social-github:hover { color: #24292e }
.ion-social-facebook:hover { color: #3b5998 }



/*

darker  #dadedf
lighter #ededed

*/